pkgbase = ros-noetic-rqt-dep
	pkgdesc = ROS - rqt_dep provides a GUI plugin for visualizing the ROS dependency graph.
	pkgver = 0.4.12
	pkgrel = 2
	url = https://wiki.ros.org/rqt_dep
	arch = any
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-catkin
	depends = ros-noetic-rqt-gui-py
	depends = ros-noetic-rqt-graph
	depends = ros-noetic-qt-gui-py-common
	depends = ros-noetic-qt-gui
	depends = ros-noetic-python-qt-binding
	depends = ros-noetic-qt-dotgraph
	depends = python-rospkg
	source = ros-noetic-rqt-dep-0.4.12.tar.gz::https://github.com/ros-visualization/rqt_dep/archive/ebf0f6ea572d772f8c4d1bbc78b56d48cea699d1.tar.gz
	sha256sums = 80670f235c5d2494c103d211fb9392ca12ad289fde5f32a11db90b64d37ce41b

pkgname = ros-noetic-rqt-dep
